<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">DAWProject</a>
      <span >Hello, <span appHighlight>{{username}}</span></span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']" *ngIf="showForUser || showForEmployee">Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showForUser">
            <a class="nav-link text-dark" [routerLink]="['/create-ticket']"
            >Create Ticket</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showForUser || showForEmployee">
            <a class="nav-link text-dark" [routerLink]="['/view-tickets']"
            >View Tickets</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showForEmployee">
            <a class="nav-link text-dark" [routerLink]="['/view-ticket-types']"
            >View Ticket Types</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showForEmployee">
            <a class="nav-link text-dark" [routerLink]="['/view-user-types']"
            >View User Types</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showLoginForUser">
            <a class="nav-link text-dark" [routerLink]="['/login']"
            >Login</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showLoginForEmployee">
            <a class="nav-link text-dark" [routerLink]="['/login-employee']"
            >Login Employee</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showRegister">
            <a class="nav-link text-dark" [routerLink]="['/register']"
            >Register</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showForUser">
            <a class="nav-link text-dark" [routerLink]="['/help']"
            >Help</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showForUser && !showForEmployee">
            <a class="nav-link text-dark" (click)="onLogout()"
            >Logout</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!showForUser && showForEmployee">
            <a class="nav-link text-dark" (click)="onLogoutEmployee()"
            >Logout Employee</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
